<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add an event</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="./fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="./css/styleForAddEvent.css">
</head>
<body>

    <div class="main">
   <!--  
<form action="#" th:action="@{/addEvent}" th:object="${event}" method="post">
    	<p>Id: <input type="text" th:field="*{name}" /></p>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    -->
    <style>
		.letter {
		    color: black;
		    }
	</style>
	

	
        <div class="container">
           <form action="#"   th:object = "${event}" th:action="@{/addEvent}"  method="post"   class="appointment-form">
            <div class="appointment-form" >
                <h2>ADD AN EVENT</h2>
                <div class="form-group-1">
                     <input type="text" id="name" placeholder="Name" th:value="${name}"  name="name" />
                    <div>
                     <select name="kind" id="kind">               
                            <option value="music">Music</option>
                            <option value="film">Film</option>
                            <option value="history">History</option>
                            <option value="sience">Sience</option>
                     </select>
                     
                    </div>
                    <input type="text" id="date" placeholder="Date" th:value="${event.date}" name="date"/>
                    <input type="text"  id="description" placeholder="Description" th:value="${event.description}" name="description"/>
                 	<input type="text"  id="city" placeholder="City" th:value="${place.city}" name="city"/>
                    <input type="text"  id="adress" placeholder="Address" th:value="${place.adress}" name="adress"/>
                    <input type="number"  id="maxCount" placeholder="Max amount of particpants" th:value="${place.maxAmountOfParticipant}" name="maxAmountOfParticipant"/>
 
                  </div>
              </div>
                    <p>Add performers</p>     
                     <select multiple name = "performers" id ="performers" th:field =  "${event.performers}"  >               
                      
                           <option 
                           		th:each="perf,iterStat : ${list}" 
                           		th:class="${iterStat.odd}? 'odd'"  
                           		 th:text="${perf.conifo.firstname} + ' ' + ${perf.conifo.surname}  " 
                           		 th:value ="${{perf}}" >
                          </option>
                     </select>
                     
	                    	<div action="#" th:action="@{/addEvent}"  method="post">
                    			<input type="submit" name="submit" id="submit" class="submit"  value="Save event"  />
                			</div>
	       		</form>
                 	        	

        </div>

    </div>

 
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./js/mainForAddEvent.js"></script>
</body>
</html>
