<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add an event</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="./fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="./css/styleForAddEvent.css">
</head>
<body>

    <div class="main">
   <!--  
<form action="#" th:action="@{/addEvent}" th:object="${event}" method="post">
    	<p>Id: <input type="text" th:field="*{name}" /></p>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    -->
        <div class="container">
            <form action="#" th:action="@{/addEvent}"  method="post" class="appointment-form" id="appointment-form"  >
                <h2>ADD AN EVENT</h2>
                <div class="form-group-1">
                    <input type="text" id="name" placeholder="Name" th:value="${name}" name="name" />
                 	<input type="text"  id="city" placeholder="City" th:value="${city}" name="city"/>
                     
                   <!--  <input type="number" name="countOfMembers" id="email" placeholder="Count of members" th:field="*{name}"/>
                    <input type="text" name="description" id="phone_number" placeholder="Description" th:field="*{name}" />
                  
                  -  <div class="select-list">
                        <select name="KindOfEvent" id="course_type">
                            <option slected value="">Kind of Event</option>
                            <option value="society">Music</option>
                            <option value="language">Film</option>
                            <option value="society">History</option>
                            <option value="language">Sience</option>
                        </select>
                    </div>
               --> </div>

                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit"  value="Submit"  />
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./js/mainForAddEvent.js"></script>
</body>
</html>
